.jumbotron {
    background-image: url("../img/burgerPic.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-color: light;
    color:blue;
    margin-top: 3%;
  }
  
  #newburger {
    color: blue;
  }
  
  #leftside {
    background-color: green;
    color: maroon;
    text-align: center;
    font-size: 1.3em;
  }
  
  #rightside {
    background-color: black;
    color: tomato;
    text-align: center;
    font-size: 1.3em;
  }