.jumbotron {
    background-image: url("../img/burgerpic2.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: light;
    color: red;
    margin-top: 3%;
  }
  
  #newburger {
    color: blue;
  }
  
  #leftside {
    background-color: orange;
    color: maroon;
    text-align: center;
    font-size: 1.3em;
  }
  
  #rightside {
    background-color: black;
    color: tomato;
    text-align: center;
    font-size: 1.3em;
  }